body{
  font-family: arial, sans-serif;
  margin: 20px;
}
header{
  height: 100px;
  display: grid;
  align-items: center;
  background-color: gray;
}
div.logo{   /* cambia el color de toda la franja del div */
  height: 100%;   /* todo el tamaño del header donde está contenido */
  background-color: gray;
}
.logo img {
  height: 60%;
  width: auto;
  max-height: 100%;   /* importante para evitar desbordes */
  display: block;
}

nav{
  background-color: lightgray;
  margin-top: 20px;
  margin-bottom: 20px;
}
main{
  display: grid;
  grid-template-columns: 1fr 3fr; /* con 1fr y 3fr se divide el espacio en 4 fracciones y se deja 1 para el aside y 3 para la section. también se puede poner 20% 80% pero si se pone el gap p algún margen ya se sale de la pantalla */
  gap: 40px;   /* sin espacio entre 20 y px */
  margin-top: 20px;
}
@media (max-width:768px){   /*diseño responsive para pantallas pequeñas, se pone todo en una única columna, desaparece scroll horizontal */
  main{
    grid-template-columns: 1fr;
  }
}
aside{
  border: 1px solid gray;
}
section{
  border: 1px solid gray;
}
footer{
  text-align: center;
  margin-top: 20px;
  background-color: gray;
}
