body{
  font-family: arial, sans-serif;
  margin: 20px;
}
header{
  min-height: 50px;
  display: grid;
  align-items: center;
}
/* div.logo{
  height: 60%;
  justify-self: start; /* otras opciones center, end, o strech (se ajusta a todo el tamaño en horizontal) */
} */
div.logo {
  height: 60%;
  background-image: url("cabecera.jpg");
  background-size: contain; /* Ajusta la imagen sin deformarla */
  background-position: left center; /* Alinea la imagen a la izquierda y centrada verticalmente */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
}
main{
  display: grid;
  grid-template-columns: 1fr 3fr; /* con 1fr y 3fr se divide el espacio en 4 fracciones y se deja 1 para el aside y 3 para la section. también se puede poner 20% 80% pero si se pone el gap p algún margen ya se sale de la pantalla */
  gap: 40px;   /* sin espacio entre 20 y px */
}
@media (max-width:768px){   /*diseño responsive para pantallas pequeñas, se pone todo en una única columna, desaparece scroll horizontal */
  main{
    grid-template-columns: 1fr;
  }
}
aside{
  border: 1px solid gray;
}
section{
  border: 2px dashed blue;
}
footer{
  justify.self: center;
}
