*{
   box-sizing:border-box;
}
body{
  font-family: Verdana,sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
 }
header{
   display:grid;
   max-height: 100px;
   align-items: center;
   overflow: hidden; 
   background-color: lightblue;
}
header img{
   display: block;
   height: 60%;
   max-width: 100%;
   width: auto;
   justify-self: start;
}
nav {
   background-color: aliceblue;
   padding: 15px;
   margin-bottom: 30px;
}
main{
   display:grid;
   grid-template-columns: 1fr 3fr;
   gap: 10px;
   margin: 20px;
}
aside{
   border: 1px solid red;
   padding: 20px;
}
section{
   border: 1px solid gray;
   padding: 20px;
}
@media (max-width: 768px){
   main {
      grid-template-columns: 1fr;
   }
}
footer{
   background-color: gainsboro;
   text-align: center;
   padding: 10px;
   margin-top: 20 px;
}

